@import "../../styles/_base.scss";

.addUser {
  &FieldText {
    width: 8rem;
  }

  &Country {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &Title {
      display: flex;
      align-items: center;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      white-space: nowrap;
      background-color: $tertiary-color;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 12rem;
      margin: 0 !important;
    }

    &Select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }
  }

  &Button, &CancelButton {
    text-transform: uppercase;
    width: 100%;
    margin-top: 1rem;
  }
  
}