@import "../../../styles/base";

@media only screen and (max-width: 768px) {
  .buttons {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Edit {
      margin-bottom: 0.5rem;
      margin-right: unset !important;
      width: 100%;
    }
  }
}
