@import '../../styles/base';

.mainWidget {
  display: flex;
  min-width: 30rem;
  justify-content: space-between;
  padding: $default-padding;
  align-items: center;
  border: 0.1rem solid $primary-color;
  border-radius: 0.25rem;

  &Title {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .mainWidget {
    min-width: unset;
  }
}
