@import "../../styles/_base.scss";

.mainWidget {
    display: flex;
    min-width: 30rem;
    justify-content: space-between;
    border: 0.1rem solid $primary-color;
    padding: $default-padding;
    align-items: center;
    border-radius: 0.25rem;

    &Title {
        margin: 0;
    }
}
