@import '../../../styles/base';

.editUser {
  max-width: 23rem;

  &FieldText {
    width: 8rem;
  }

  &Country {
    align-items: center;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    margin-top: 1rem;

    &Title {
      align-items: center;
      background-color: $tertiary-color;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      border-bottom-right-radius: 0 !important;
      border-right: 0 !important;
      border-top-right-radius: 0;
      color: #212529;
      display: flex;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 !important;
      padding: 0.375rem 0.75rem;
      text-align: center;
      white-space: nowrap;
      width: 12.2rem !important;
    }

    &Select {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      color: #6c757d !important;
      width: 15rem !important;
    }
  }

  &Button,
  &CancelButton {
    margin-top: 1rem;
    text-transform: uppercase;
    width: 100%;
  }
}
